<div class='row'>
  <div class='container'>
    <div class='lead'>部位分類 << <%= @category.name %>
      <hr>
    </div>

    <div class='col-md-8 well'>
      <hr>
      <% @category.posts.each do |post| %>
        <p class='pull-right'><%= link_to "[more...]", post_path(post) %></p>

        <% if post.user == current_user %>
          <p class='pull-right'><%= link_to "[編輯]", edit_post_path(post) %></p>
        <% end %>
                
        <div class="col-md-2">
          <p class='pull-left'>
            <%= image_tag post.user.gravatar_url %>
          </p>
        </div>

        <div>
          <h4><%= post.title %></h4>
          <p><%= truncate(post.description) %></p>  
          <p><span class='quiet'>Posted by</span> <%= link_to post.user.full_name, "" %></p>
          <hr>
        </div>
      <% end %> 

    </div>
  </div>
</div>